    *{
        margin: 0%;
        padding: 0%;
    }

    .container{
        max-width: 80%;
        margin: 0 auto;
        background-color: #84b5a6;
        margin-top: 5%;
        color: #444e54;
    }
    #main-heading{
        font-family: "Oxygen Mono", monospace;
        font-size: 50px;
        color: rgb(84, 107, 107);
        margin: 2%;
    }

    #search-input {
        margin: 20px 25px;
        padding: 5px 10px;
        width: 300px;
        border-radius: 5px;
        border: 2px solid #c5b69b;
        font-family: "Oxygen Mono", monospace;
        font-size: 12px;
}
    button {
        display: inline-block;
        border: 2px solid #332b1d;
        border-radius: 5px;
        padding: 5px 10px;
        font-family: "Oxygen Mono", monospace;
        font-size: 12px;
        background-color: #c5b69b;
}

    button:hover {
        background-color: #7d7e7e;
    }

    .city-title{
        max-width: 300px;
        font-size: 32px;
        font-weight: bold;
        margin: 2%;
}

    .measurements {
        position: relative;
        left: 25px;
        top: -10px;
}

    a {
        text-decoration: none;
        color: #0a95c9;
}

    a:hover {
        color: #021a34;
}

    .temp-title {
        color: #37718e;
        font-size: 140px;
        font-family: "Inter", sans-serif;
        text-align: center;
}

    .todays-info {
        margin: 15px 0;
}

    .side-info {
        position: relative;
        left: 72px;
}

    p,
    ul {
        font-family: "Oxygen Mono", monospace;
        font-size: 15px;
}

    li {
        list-style: none;
}

    hr {
        max-width: 800px;
        margin: 48px;
        border: 1px solid #686d80;
}
